.pokepage {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

header {
  width: calc(100%-20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
}

.details {
  display: flex;
  background-color: rgb(252, 252, 252);
}

.image-container {
  width: 40%;
  height: auto;
  background-color: rgb(243, 242, 242);
  border-radius: 50%;
  margin: 10px;
}

.image-container img {
  height: auto;
  width: 100%;
}

.info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1em;

  border-left: 1px solid black;
}

.info span {
  margin: 10px;
  letter-spacing: 0.5px;
}
