@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif;
}

.list-of-pokemon {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.poke {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.poke:hover {
  transform: scale(1.1);
}

.image-holder {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.poke .image-holder img{
  margin-top: 20px;
	max-width: 90%;
}